@{
    ViewBag.Title = "Have you previously held or currently hold a GLA/GLAA licence, been named on another GLA/GLAA licence, worked for another GLA/GLAA licence holder or advised another GLA/GLAA licence holder within the last 10 years?";
    var switchValue = "true";
}

@model GLAA.ViewModels.LicenceApplication.PreviousLicenceViewModel

@using (Html.BeginForm())
{
    <div class="grid-row">
        <div class="column-two-thirds">
            @Html.Partial("_GdsValidationSummary")
        </div>
        <div class="column-full">
            <h1 class="heading-large">
                @ViewBag.Title
            </h1>
        </div>
        <div class="column-two-thirds">
            <div class="form-group">
                <fieldset>
                    <legend>
                        <span class="body-text"></span>
                    </legend>
                    @foreach (var option in Model.YesNo)
                    {
                        <div class="multiple-choice">
                            @Html.RadioButtonFor(x => x.HasPreviouslyHeldLicence, option.Value)
                            @Html.Label(option.Text)
                        </div>

                        if (option.Value == switchValue)
                        {
                            <div class="panel panel-border-narrow js-hidden" id="previous-detail">
                                @Html.TextAreaFormGroupFor(x => x.PreviousLicenceDescription)
                            </div>
                        }
                    }
                </fieldset>
            </div>
        </div>
    </div>

    <button type="submit" class="button">Save and continue</button>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            hiddenContent.hideContent();
            branchedQuestion.toggleBranch('.multiple-choice input', '#previous-detail', @switchValue);
        });
    </script>
}


