@model GLAA.ViewModels.LicenceApplication.UnspentConvictionsViewModel

@{
    ViewBag.Title = "Unspent criminal convictions, or alternative sanctions or penalties for proven offences";
    var conjunction = Model.UnspentConvictions.Any() ? "another" : "an";
}

@using (Html.BeginForm("ReviewDirectorOrPartnerUnspentConvictions", "Licence", FormMethod.Post))
{
    <div class="grid-row">
        <div class="column-two-thirds">
            @Html.Partial("_GdsValidationSummary")
        </div>
        <div class="column-full">
            <h1 class="heading-large">
                @ViewBag.Title
            </h1>
        </div>
    </div>
    <table class="check-your-answers" id="UnspentConvictions">
        <thead>
        <tr>
            <th colspan="3">Unspent criminal convictions, or alternative sanctions or penalties</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var uc in Model.UnspentConvictions)
        {
            <tr>
                <td>@uc.Description</td>
                <td>@uc.Date.ToString()</td>
                <td class="change-answer"><a href="@Url.Action($"Apply/DirectorOrPartner/UnspentConviction/{uc.Id}")">Change or remove<span class="visually-hidden"> @uc.Description</span></a></td>
            </tr>
        }
        </tbody>
    </table>
    <div class="grid-row">
        <div class="column-full">
            <p>
                <a class="button button-add-another" href="@Url.Action($"Apply/DirectorOrPartner/UnspentConviction/0", "Licence")">Add @conjunction unspent conviction, alternative sanction or penalty</a>
            </p>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-full">
            <p>
                <button type="submit" class="button">Save and continue</button>
            </p>
        </div>
    </div>
    @Html.HiddenFor(m => m.HasUnspentConvictions)
}
