@model GLAA.ViewModels.LicenceApplication.AddressViewModel


<div class="form-group">
    @Html.LabelWithHintFor(x => x.AddressLine1)
    @Html.TextBoxFor(x => x.AddressLine1, new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelWithHintFor(x => x.AddressLine2)
    @Html.TextBoxFor(x => x.AddressLine2, new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelWithHintFor(x => x.AddressLine3)
    @Html.TextBoxFor(x => x.AddressLine3, new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelWithHintFor(x => x.Town)
    @Html.TextBoxFor(x => x.Town, new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelWithHintFor(x => x.County)
    @Html.TextBoxFor(x => x.County, new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelWithHintFor(x => x.Postcode)
    @Html.TextBoxFor(x => x.Postcode, new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelWithHintFor(x => x.Country)
    @Html.TextBoxFor(x => x.Country, new { @class = "form-control" })
</div>

<div class="form-group">
    <div class="multiple-choice">
        @Html.CheckBoxFor(x => x.NonUK)
        @Html.LabelWithHintFor(x => x.NonUK)
    </div>
</div>
