@{
    ViewBag.Title = "Organisation Details - Part 14";
    var switchValue = "true";
}

@model GLAA.ViewModels.LicenceApplication.VATStatusViewModel

@using (Html.BeginForm())
{
    <div class="grid-row">
        <div class="column-two-thirds">
            @Html.Partial("_GdsValidationSummary")
        </div>
        <div class="column-full">
            <h1 class="heading-large">
                Do you have a VAT number?
            </h1>
        </div>
        <div class="column-two-thirds">
            <div class="form-group">
                <fieldset>
                    <legend>                        
                    </legend>
                    @foreach (var option in Model.YesNo)
                    {
                        <div class="multiple-choice">
                            @Html.RadioButtonFor(x => x.HasVATNumber, option.Value)
                            @Html.Label(option.Text)
                        </div>
                    
                        if (option.Value == switchValue)
                        {
                            <div class="panel panel-border-narrow js-hidden" id="VAT-details">
                                @Html.TextFormGroupFor(x => x.VATNumber)
                                @Html.DateFormGroupFor(x => x.VATRegistrationDate)
                            </div>
                        }
                    }
                </fieldset>
            </div>
        </div>
    </div>
    <button type="submit" class="button">Save and continue</button>
}

@section scripts
{    
    <script>
        $(document).ready(function () {
            hiddenContent.hideContent();
            branchedQuestion.toggleBranch('.multiple-choice input', '#VAT-details', @switchValue);
        });
    </script>
}