@{
    ViewBag.Title = "Organisation - Part 3" ;
    var switchValue = "true";
}

@model GLAA.ViewModels.LicenceApplication.PSCControlledViewModel

@using (Html.BeginForm())
{
    <div class="grid-row">
        <div class="column-two-thirds">
            @Html.Partial("_GdsValidationSummary")
        </div>
        <div class="column-full">
            <h1 class="heading-large">
                Is the business being significantly controlled by another individual who meets the criteria of People with Significant Control (PSC)?
            </h1>
        </div>
        <div class="column-two-thirds">
            <div class="form-group">
                <fieldset>
                    <legend>
                        <span class="body-text">Please refer to the guidance for the definition of PSC</span>
                    </legend>
                    @foreach (var option in Model.YesNo)
                    {
                        <div class="multiple-choice">
                            @Html.RadioButtonFor(x => x.IsPSCControlled, Model.IsPSCControlled ?? false)
                            @Html.Label(option.Text)
                        </div>

                        if (option.Value == switchValue)
                        {
                            <div class="panel panel-border-narrow js-hidden" id="PSC-controlled">
                                <div class="form-group">
                                    @Html.LabelWithHintFor(x => x.PSCDetails)
                                    @Html.TextAreaFor(x => x.PSCDetails, new { @class = "form-control", multiline = true, rows = 4 })
                                </div>
                            </div>
                        }
                    }
                </fieldset>
            </div>
        </div>
    </div>
    
    <button type="submit" class="button">Save and continue</button>
}

@section scripts
{    
    <script>
        $(document).ready(function () {
            hiddenContent.hideContent();
            branchedQuestion.toggleBranch('.multiple-choice input', '#PSC-controlled', @switchValue);
        });
    </script>
}