@{
    ViewBag.Title = "Organisation - Part 14";
    var switchValue = "true";
}

@model GLAA.ViewModels.LicenceApplication.PreviouslyWorkedInShellfishViewModel

@using (Html.BeginForm())
{
    <div class="grid-row">
        <div class="column-two-thirds">
            @Html.Partial("_GdsValidationSummary")
        </div>
        <div class="column-full">
            <h1 class="heading-large">
                Has your business previously worked in shellfish gathering?
            </h1>
        </div>
        <div class="column-two-thirds">
            <div class="form-group">
                <fieldset>
                    <legend>
                        <span class="body-text"></span>
                    </legend>
                    @foreach (var option in Model.YesNo)
                    {
                        <div class="multiple-choice revealer">
                            @Html.RadioButtonFor(x => x.PreviouslyWorkedInShellfish, option.Value, new { id = $"PreviouslyWorkedInShellfish_{option.Text}" })
                            @Html.LabelFor(x => x.PreviouslyWorkedInShellfish, option.Text, new { @for = $"PreviouslyWorkedInShellfish_{option.Text}" })
                        </div>

                        if (option.Value == switchValue)
                        {
                            <div class="panel panel-border-narrow js-hidden" id="previous-shellfish-details">                                                         
                                @Html.TextFormGroupFor(x => x.GatheringLocation)   
                                @Html.DateFormGroupFor(x => x.GatheringDate)                                
                            </div>
                        }
                    }
                </fieldset>
            </div>
        </div>
    </div>    
    <button type="submit" class="button">Save and continue</button>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            hiddenContent.hideContent();
            branchedQuestion.toggleBranch('.revealer > input[type="radio"]', '#previous-shellfish-details', @switchValue);
        });
    </script>
}